@font-face {
    font-family: 'PressStart2P';
    src: url('fonts/PressStart2P-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'PressStart2P', sans-serif;
    font-size: 13px;
}

h4 a {
    margin-left: 7px;
    transition: transform 0.3s ease;
}

h4 a img {
    transition: transform 0.3s ease;
}

a>img {
    height: 20px;
}

h4 a img:hover {
    transform: scale(1.2);
}

span {
    color: red;
}

.projectsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 300px;
    gap: 10px;
    justify-items: stretch;
}

.grid-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

img {
    height: 180px;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: lightblue;
}

.fa-eye,
.fa-github {
    font-size: 22px;
}

.links {
    margin-top: 20px;
}

@media (max-width: 710px) {
    body {
        background-color: white;
        font-family: 'PressStart2P', sans-serif;
        font-size: 13px;
    }
    h4 a {
        margin-top: 7px;
        transition: transform 0.3s ease;
    }
    h4 a img {
        transition: transform 0.3s ease;
    }
    a>img {
        height: 20px;
    }
    h4 a img:hover {
        transform: scale(1.2);
    }
    span {
        color: red;
    }
    .projectsGrid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px;
        justify-items: center;
    }
    .grid-item {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        box-sizing: border-box;
    }
    img {
        height: 180px;
    }
    a {
        text-decoration: none;
        color: blue;
    }
    a:hover {
        color: lightblue;
    }
    .fa-eye,
    .fa-github {
        font-size: 22px;
    }
    .links {
        margin-top: 20px;
    }
}